.train-board {
  overflow-x: visible;
  overflow-y: hidden;
  height: min(fit-content, 100%);
  max-height: calc(100% - 100px);
  width: fit-content;
  border: solid 5px rgb(244, 164, 107, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  background: rgb(244, 164, 107, 0.5);
  color: #fff;
  padding: 20px;
  z-index: 1;
  margin: auto;
  max-width: 80%;
  padding: 16px;
  border-radius: 16px;
  gap: 16px;
  display: flex;
  text-wrap: nowrap;
  flex-direction: column;
  .time {
    position: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .train-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    flex-wrap: wrap;
    line-height: 1.5;
    max-width: 100%;
    width: 100%;
    margin: 0;
    > div {
      display: flex;
      gap: 4px;
    }
    &.small-text {
      font-size: 14px;
      text-wrap: wrap;
    }

    input[type="file"] {
      opacity: 0;
      width: 100%;
      height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    .custom-file-upload {
      height: 24px;
      width: fit-content;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    button {
      font-size: 24px;
      height: fit-content;
      font-weight: bolder;
      background: burlywood;
      text-wrap: wrap;
      color: antiquewhite;
      &:hover {
        color: brown !important;
        border-color: brown !important;
      }
      &.cover-all-btn {
        z-index: 999 !important;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        border: none;
        left: 0;
        border-radius: 0;
        background-color: transparent;
      }
      &.cover-all-btn-mask {
        background-color: #fff;
        opacity: 0.5;
        animation: textjump 1s infinite;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.simple-btn{
    background: none;
            border: none;
            padding: 0;
            font-size: 20px;
            width: fit-content
}
    }
  }
  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    gap: 8px;
  }
  .center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    gap: 8px;
    width: 100%;
  }
}
.sport-row {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  button {
    font-weight: bolder;
    width: 100%;
  }
}

.part {
  background: cadetblue;
  border-radius: 4px;
  padding: 4px;
  font-size: 20px;
  font-weight: lighter;
  user-select: none;
  cursor: pointer;
    opacity: 0.7;
  &.checked {
    background: darkcyan;
    opacity: 1;
  }
}
.no-gap {
  gap: 2px !important;
}

.imageFrame {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  .anticon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999 !important;
  }
  img {
    width: inherit;
  }
  &:hover {
    .anticon {
      display: inline-block !important;
    }
    img {
      filter: brightness(0.5);
    }
  }
}
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
@keyframes textjump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.train-show {
  display: flex;
  align-items: center;
  font-size: 32px;
  height: 100%;
  flex-direction: column;
justify-content: flex-start;
   .imagesForShowRow {
    height: calc(100% -  70px);
    display: flex;
    justify-content: center;
    img{
      height: 100%;
      max-height: 100%;
    }
  }

}

