.sports-grid {
  display: grid;
  grid-template-columns: 20px repeat(6, 1fr);
  grid-gap: 10px;
  /* Adjust the gap between columns as needed */
  align-items: center;
  /* Vertically center the items */
  justify-items: center;
  /* Horizontally center the items */
  overflow-y: auto;
  height: 100%;
}

.sports-grid > div {
  display: inline-flex;
  gap: 2px;
}

.sports-grid > div .part {
  padding: 2px;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
}

.imagesForShowRow {
  display: flex;
}

.imagesForShowRow .imageFrameForShow {
  width: 80vw;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}
