html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  * {
    z-index: 1;
    font-family: "Pixel";
     &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 0.5;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #f1f1f1;
    opacity: 0.5;
    height: 20px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
  }
  }

  .content {
    height: 100%;
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .bk {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: brightness(0.5);
    }
  }
}

@font-face {
  font-family: "Pixel";
  src: url("../public/assets/fonts/fusion-pixel-10px-monospaced-zh_hans.ttf");
}
